@charset "UTF-8";

.item-image {
    width: 18rem;
    height: 18rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
    margin: auto;
}
