@charset "UTF-8";

.item-text {
    width: 18rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    position: absolute;
    top: 22rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}