@charset "UTF-8";

* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 16px;
}

@media all and (min-width: 400px) {
    html {
        font-size: 22px;
    }
}

@media all and (min-width: 600px) {
    html {
        font-size: 32px;
    }
}

body {
    width: 100%;
    height: 100%;
    position: relative;
}

button, input {
    outline: none;
}

button, a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}